---
import InputPetInfo from '@components/InputPetInfo';
import Layout from '@layouts/Layout.astro';
---

<Layout title='Create Pet'>
	<section class="w-full">
		<InputPetInfo create={true} client:load className='mx-auto flex flex-col gap-10 items-center my-10' label='Create with JSON object'>
		</InputPetInfo>
	</section>
</Layout>