---
import Layout from '@layouts/Layout.astro';
import ResponseError from '@components/ResponseError';
---

<Layout title="Error">
	<main class="w-full p-8">
		<ResponseError>
		</ResponseError>
	</main>
</Layout>