---
import Layout from '../layouts/Layout.astro';
---

<Layout title="SAPI">
	<main class="flex justify-center items-center">
		<h1 class="inline text-6xl font-bold font-sap mt-6">
			Welcome to the <span class="text-sap-yellow-500">SAPI</span> GUI
		</h1>
	</main>
</Layout>
