---
import Card3D from '@components/Card3D.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="SAPI">
	<main class="flex flex-col justify-center items-center max-w-[1000px]">
		<h1 class="inline text-6xl font-bold font-sap mt-8">
			<span class="text-sap-yellow-500">SAPI</span> GUI
		</h1>

		<!-- Hero Section -->
		<section class="flex flex-col justify-center items-center mt-20 w-full gap-4">
			<h2 class="text-4xl md:text-4xl font-bold mb-6 text-center">Welcome to the The Unofficial Super Auto Pets API GUI</h2>
			<p class="text-xl">Credit to the
				<a class="text-seagull-300 font-bold hover:underline hover:text-seagull-200 transition duration-300 ease-in-out"
					href="https://superautopets.wiki.gg/wiki/Super_Auto_Pets_Wiki"
				>
					Super Auto Pets Wiki
				</a>
				where the info was taken from
			</p>
			<p class="text-xl">
				Content information last updated: 28-10-2023
			</p>

			<div class="w-full flex justify-evenly flex-wrap gap-8 mt-10">
				<!-- Cards -->
				<Card3D mainTitle='Title' classes='w-40 h-20'>
					<p>Hello There</p>
				</Card3D>
			</div>
		</section>
	</main>
</Layout>
