---
import Card3D from '@components/Card3D.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="SAPI">
	<main class="flex flex-col justify-center items-center w-full">
		<h1 class="inline text-6xl font-bold font-sap mt-8">
			<span class="text-sap-yellow-500">SAPI</span> GUI
		</h1>

		<!-- Hero Section -->
		<section class="flex flex-col justify-center items-center mt-20 w-full gap-4">
			<h2 class="text-4xl md:text-4xl font-bold mb-6 text-center">Welcome to the Unofficial Super Auto Pets API GUI</h2>
			<p class="text-xl">Credit to the
				<a class="text-seagull-300 font-bold hover:underline hover:text-seagull-200 transition duration-300 ease-in-out"
					href="https://superautopets.wiki.gg/wiki/Super_Auto_Pets_Wiki" target="_blank" rel="noopener noreferrer"
				>
					Super Auto Pets Wiki
				</a>
				where the info was taken from
			</p>
			<p class="text-xl">
				Content information last updated: 28-10-2023
			</p>

			<div class="w-full flex justify-evenly flex-wrap gap-8 mt-10">
				<a href="/pets/">
					<Card3D mainTitle='Pets' classes='w-40 h-20'>
						<img src="https://raw.githubusercontent.com/apacha01/assets/sap/super-auto-pets/pets/standard/Ant.png" alt="SAP Ant" />
					</Card3D>
				</a>
				<a href="/tokens/">
					<Card3D mainTitle='Tokens' classes='w-40 h-20'>
						<img src="https://raw.githubusercontent.com/apacha01/assets/sap/super-auto-pets/tokens/standard/Bee.png" alt="SAP Bee" />
					</Card3D>
				</a>
				<a href="/foods/">
					<Card3D mainTitle='Foods' classes='w-40 h-20'>
						<img src="https://raw.githubusercontent.com/apacha01/assets/sap/super-auto-pets/foods/standard/Apple.png" alt="SAP Apple" />
					</Card3D>
				</a>
				<a href="/toys/">
					<Card3D mainTitle='Toys' classes='w-40 h-20'>
						<img src="https://raw.githubusercontent.com/apacha01/assets/sap/super-auto-pets/toys/standard/Ballon.png" alt="SAP Ballon" />
					</Card3D>
				</a>
				<a href="/packs/">
					<Card3D mainTitle='Packs' classes='w-40 h-20'>
						<img src="https://raw.githubusercontent.com/apacha01/assets/sap/super-auto-pets/pets/standard/Turtle.png" alt="SAP Turlte" />
					</Card3D>
				</a>
			</div>
		</section>
	</main>
</Layout>
