---
import Layout from '@layouts/Layout.astro';
---

<Layout title='Menu'>
	<main class="my-auto w-full">
		<h1 class="text-center font-sap text-6xl mb-16">What do you want to edit?</h1>
		<ul class="text-center font-bold font-libsans flex flex-col items-center gap-6">
			<li class="w-fit border-2 border-white hover:bg-white hover:text-seagull-950 transition-colors">
				<a class="block text-3xl w-48 py-3 px-1" href="/foods/edit">
					Foods
				</a>
			</li>
			<li class="w-fit border-2 border-white hover:bg-white hover:text-seagull-950 transition-colors">
				<a class="block text-3xl w-48 py-3 px-1" href="/packs/edit">
					Packs
				</a>
			</li>
			<li class="w-fit border-2 border-white hover:bg-white hover:text-seagull-950 transition-colors">
				<a class="block text-3xl w-48 py-3 px-1" href="/pets/edit">
					Pets
				</a>
			</li>
			<li class="w-fit border-2 border-white hover:bg-white hover:text-seagull-950 transition-colors">
				<a class="block text-3xl w-48 py-3 px-1" href="/tokens/edit">
					Tokens
				</a>
			</li>
			<li class="w-fit border-2 border-white hover:bg-white hover:text-seagull-950 transition-colors">
				<a class="block text-3xl w-48 py-3 px-1" href="/toys/edit">
					Toys
				</a>
			</li>
		</ul>
	</main>
</Layout>