---
interface Props {
	mainTitle: string | 'Title';
	classes?: string | '';
	contentWidth?: number | undefined;
}

const { mainTitle, classes } = Astro.props;
---

<div class=`card group box-content flex justify-center items-center p-10 w-16 h-8 ${classes}`>
	<div class="default w-full h-full absolute transition-all border-white bg-fun-green-900 border-2 rounded-md">
		<h2 class="text-4xl font-bold absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transition-all group-hover:top-full group-hover:-translate-y-full">
			{mainTitle}
		</h2>
	</div>
	<div class="slot absolute flex justify-center items-center w-1/2 opacity-0 transition-all group-hover:opacity-100">
		<slot />
	</div>
</div>

<style>
	.card {
		perspective: 2000px;
	}

	.card:hover .default {
		transform: perspective(1000px) translateY(-3%) rotateX(10deg) translateZ(0);
		box-shadow: 0px 32px 32px 0px rgba(0, 0, 0, 0.7);
		-webkit-box-shadow: 0px 32px 32px 0px rgba(0, 0, 0, 0.7);
		-moz-box-shadow: 0px 32px 32px 0px rgba(0, 0, 0, 0.7);
	}

	.card:hover .slot {
		transform: translate3d(0%,-30%,100px)
	}
</style>