---
import GlassNav from '@components/GlassNav.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="The GUI for the Unofficial Super Auto Pets API (a wiki basicaly)." />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content="Astro" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<title>{title}</title>
	</head>
	<body class="flex flex-col items-center max-w-[1000px] min-h-screen m-auto">
		<GlassNav items={[{link: '#',text: 'Sign Up'}, {link: '/login',text: 'Log In'}]}>
			<a href="/"><img class="w-10 h-10" src="/favicon.png" alt="SAP logo img"></a>
		</GlassNav>
		<slot />
	</body>
</html>

<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background: url('/imgs/sap-background.webp') repeat;
		margin: 0;
		padding: 0;
		color-scheme: dark light;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	@font-face {
		font-family: "sap";
		src: url(/fonts/LapsusPro-Bold.otf);
	}

</style>
